<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">


  <select id="queryPage" resultType="com.example.demo.vo.OrderVo">
    SELECT order_id,user_id,username FROM t_order
  </select>

</mapper>